<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="conexion"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBPUNTO_VENTA.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient" />
	 
  </connectionStrings>
</configuration>